.cmp-home-docs-link {
	display: inline-flex;
	margin-block: var(--size-relative-9);
	padding: var(--size-relative-6) var(--size-relative-8);
	color: var(--gray-0);
	font-size: var(--font-size-fluid-1);
	font-weight: var(--font-weight-9);
	text-decoration: none;
	background-image: linear-gradient(0deg, var(--blue-6) 0%, var(--blue-9) 30%, color-mix(in hsl, var(--gray-12) 35%, var(--purple-10)) 70%, color-mix(in hsl, var(--gray-12) 35%, var(--purple-12)) 100%);
	background-size: 100% 200%;
	border-radius: var(--radius-3);
	box-shadow: var(--shadow-3), var(--shadow-6);
	transition-property: background-position, translate;
	transition-duration: 150ms, 250ms;
	transition-timing-function: var(--ease-in-out-5), var(--ease-elastic-in-out-5);

	&:hover {
		background-position: 0 100%;
		translate: 0 calc(var(--size-2) * -1);
	}
}
