.cmp-logo {
	&__fins {
		fill: var(--blue-8);
		stroke: var(--blue-12);
	}
	&__body {
		fill: var(--gray-5);
		stroke: var(--gray-8);
	}
	&__thruster {
		fill: var(--gray-6);
		stroke: var(--gray-8);
	}
	&__window {
		fill: var(--gray-1);
		stroke: var(--gray-7);
	}
	&__flame-outer {
		fill: var(--orange-8);
	}
	&__flame-inner {
		fill: var(--yellow-5);
	}
	&__text {
		fill: currentColor;
	}
}
