.cmp-logo {
	&__fins {
		fill: url(#fin_shading);
		stroke-width: 0;
		stroke: var(--pink-9);
		shape-rendering: crispEdges;
		stroke-width: 1px;
		stroke: var(--pink-10);
		vector-effect: non-scaling-stroke;

		.cmp-home-header & {
			stroke-width: 2px;
		}
	}

	&__fin-shading {
		&--stop1 {
			stop-color: var(--pink-11);
		}
		&--stop2 {
			stop-color: var(--pink-8);
		}
		&--stop3 {
			stop-color: var(--pink-6);
		}
		&--stop4 {
			stop-color: var(--pink-7);
		}
		&--stop5 {
			stop-color: var(--pink-9);
		}
	}

	&__body {
		fill: url(#body_shading);
		stroke-width: 1px;
		stroke: var(--gray-7);
		vector-effect: non-scaling-stroke;

		.cmp-home-header & {
			stroke-width: 2px;
		}
	}

	&__body-shading {
		&--stop1 {
			stop-color: var(--gray-3);
		}
		&--stop2 {
			stop-color:
				color-mix(in hsl,
					var(--gray-3) 35%,
					var(--gray-5)
				);
		}
		&--stop3 {
			stop-color: var(--gray-3);
		}
		&--stop4 {
			stop-color: var(--gray-5);
		}
		&--stop5 {
			stop-color:
				color-mix(in hsl,
					var(--gray-4) 35%,
					var(--gray-6)
				);
		}
		&--stop6 {
			stop-color: var(--gray-6);
		}
		&--stop7 {
			stop-color: var(--gray-6);
		}
	}

	&__thruster {
		fill: url(#thruster_shading);
		stroke-width: 1px;
		stroke: color-mix(in hsl, var(--gray-8) 90%, var(--blue-5));
		vector-effect: non-scaling-stroke;

		.cmp-home-header & {
			stroke-width: 2px;
		}
	}

	&__thruster-shading {
		&--stop1 {
			stop-color: color-mix(in hsl, var(--gray-6) 90%, var(--blue-5));

		}
		&--stop2 {
			stop-color: color-mix(in hsl, var(--gray-10) 90%, var(--blue-5));
		}
	}

	&__window {
		fill: url(#window_shading);
		stroke-width: 1px;
		stroke: var(--blue-8);
		vector-effect: non-scaling-stroke;

		.cmp-home-header & {
			stroke-width: 2px;
		}
	}

	&__window-shading {
		&--stop1 {
			stop-color: var(--blue-0);
		}
		&--stop2 {
			stop-color: var(--blue-2);
		}
		&--stop3 {
			stop-color: var(--blue-3);
		}
		&--stop4 {
			stop-color: var(--blue-4);
		}
		&--stop5 {
			stop-color: var(--blue-5);
		}
	}


	&__flame-outer {
		fill: url(#flame_outer_shading);stroke-width: 1px;
		stroke: var(--red-9);
		vector-effect: non-scaling-stroke;

		.cmp-home-header & {
			stroke-width: 2px;
		}
	}

	&__flame-outer-shading {
		&--stop1 {
			stop-color: var(--orange-5);
		}
		&--stop2 {
			stop-color: var(--red-7);
		}
	}


	&__flame-inner {
		fill: url(#flame_inner_shading);
		stroke-width: 1px;
		stroke: var(--orange-3);
		vector-effect: non-scaling-stroke;

		.cmp-home-header & {
			stroke-width: 2px;
		}
	}

	&__flame-inner-shading {
		&--stop1 {
			stop-color: var(--yellow-5);
		}
		&--stop2 {
			stop-color: var(--orange-5);
		}
	}

	&__text {
		fill: currentColor;
	}
}
