.cmp-page-link {
	color: inherit;
	text-decoration: unset;
	position: relative;
	cursor: auto;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		box-shadow: 0 4px var(--gray-9);
		@media (prefers-color-scheme: dark) {
			box-shadow: 0 4px var(--gray-1);
		}
	}

	&::before {
		font-size: var(--font-size-5);
		content: '🔗';
		position: absolute;
		inset-inline-end: calc(100% + var(--size-2));
		pointer-events: none;
		opacity: 0;
		translate: var(--size-4) 0;
		transition-property: opacity, translate;
		transition-duration: 250ms;
		transition-timing-function: var(--ease-elastic-in-out-3);
	}

	&:focus::before,
	&:hover::before {
		translate: 0 0;
		opacity: 1;
	}
}
