:root {
	--body-text-color: var(--gray-9);
	--body-background-color: var(--gray-1);

	--sky-gradient:
		radial-gradient(
			600% 150% at 50% 100%,
			var(--body-background-color) 0%,
			var(--body-background-color) calc(10% - 10px),
			transparent 10%
		),
		radial-gradient(
			600% 150% at 50% 100%,
			var(--blue-6) 0%,
			var(--blue-6) 5%,
			var(--blue-9) 8%,
			color-mix(in hsl, var(--gray-12) 55%, var(--purple-12)) 50%,
			color-mix(in hsl, var(--gray-12) 55%, var(--purple-12)) 70%,
			var(--gray-12) 100%
		);

	@media (prefers-color-scheme: dark) {
		--body-text-color: var(--gray-1);
		--body-background-color: var(--gray-10);
	}
}
