:is(h1, h2, h3, h4, h5, h6):not([class]) {
	line-height: var(--font-lineheight-1);
}

:is(h1, h2):not([class]) {
	font-weight: var(--font-weight-9);
	margin-block: var(--size-relative-2);
}

h2:not([class]) {
	font-size: var(--font-size-fluid-3);
	color: var(--blue-8);

	@media (prefers-color-scheme: dark) {
		color: var(--blue-4);
	}
}

h3:not([class]) {
	font-size: var(--font-size-5);
	color: var(--purple-9);
	margin-block: var(--size-relative-3) var(--size-relative-1);
	font-weight: var(--font-weight-9);

	@media (prefers-color-scheme: dark) {
		color: var(--purple-6);
	}
}

h3:not([class]) + p:not([class]) {
	margin-block-start: 0;
}

:not(h2:not([class])) + h3:not([class]) {
	margin-block-start: var(--size-relative-9);
}

h4:not([class]) {
	font-size: var(--font-size-5);
	font-weight: var(--font-weight-6);
	color: var(--yellow-9);
	margin-block: var(--size-relative-4);

	@media (prefers-color-scheme: dark) {
		color: var(--yellow-6);
	}
}

:is(p, li, dt, dd):not([class]) {
	font-size: clamp(var(--font-size-1), 2vw, var(--font-size-3));
	max-width: var(--size-content-3);
}

dt:not([class]) {
	font-weight: var(--font-weight-7);
}

dd:not([class]) + dt:not([class]) {
	margin-block-start: var(--size-5);
}

dt:not([class]) code:not([class]) {
	border: unset;
	padding: unset;
	background: unset;
}

li:not([class]) + li:not([class]) {
	margin-block-start: var(--size-2);
}
