a[href]:not([class]) {
	color: var(--blue-7);
	text-decoration-thickness: 1px;
	text-underline-offset: 1px;
	transition: text-underline-offset 150ms var(--ease-elastic-in-out-3);

	@media (prefers-color-scheme: dark) {
		color: var(--blue-5);
	}

	&:hover,
	&:visited:hover {
		cursor: pointer;
		text-decoration-color: var(--body-text-color);
		text-underline-offset: 0.25em;
	}

	&:visited {
		color: var(--purple-9);

		@media (prefers-color-scheme: dark) {
			color: var(--purple-6);
		}
	}
}

:not(pre) > code {
	font-family: var(--font-mono);
	padding: var(--size-1);
	border: 1px solid var(--gray-3);
	border-radius: var(--radius-2);
	background-color: var(--gray-0);

	@media (prefers-color-scheme: dark) {
		background-color: var(--gray-8);
		border-color: var(--gray-6);
	}
}

:is(img):not([class]) {
	display: block;
	border-radius: var(--radius-2);
	margin-block: var(--size-6);
	box-shadow: var(--shadow-3), var(--shadow-6);
}
